.bg{
    background-image: url('../../../public/image/jobnew.jpg');
    /* background-color: blue; */
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: -100px;
    opacity: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.search-box{
    width:45%;
    height:10%;
    border-radius: 5px;
    border: none;

}

.job_button{
    height: 10%;
    margin: 1%;
    background-color: rgba(9, 10, 90, 0.979);
    font-weight: bold;
}

.job_button:hover{
    background-color: #ffff;
    color: rgba(9, 10, 90, 0.979);
}